export(Benford_table)
export(DigitAnalysis)
export(all_digits_test)
export(chi_square_gof)
export(combine_by_columns)
export(digit_pairs_test)
export(get_benford_mean)
export(high_low_test)
export(make_sub_digitdata)
export(n_zeros_pattern)
export(padding_test)
export(process_digit_data)
export(repeat_test)
export(replicate_ELL_10_tests)
export(rounding_test)
export(sector_test)
export(single_column_aligned)
export(unpack_round_numbers_test)
exportClasses(DigitAnalysis)
import("ggplot2")
importFrom("grDevices", "dev.new", "dev.off", "pdf", "trans3d")
importFrom("graphics", "text")
importFrom("methods", "new", "slotNames")
importFrom("stats", "binom.test", "complete.cases", "pchisq", "t.test")
importFrom("utils", "read.csv", "write.csv")
